<nav>
	<a id="home" href="/">HOME</a>
	<br>
	{{#if logged_in}}
	<a id="logout" href="#">LOG OUT</a>
	<br>
    <a id="addfoodbutton" href="/foodadd">	&plus; Add Food &plus;</a>
	{{else}}
	<a id="login" href="/login">LOG IN</a>
	<br>
	{{/if}}
</nav>