<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LEFTOVERS</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav>
    <a href="/">HOME</a>
    <a href="/login">LOGIN/Sign up</a>

    {{!-- <a href="/"></a> --}}
  </nav>
  {{{body}}}
</body>

</html>