{{> nav}}

<div>

    {{#if first_name}}
    <p>Welcome back {{first_name}}</p>
    {{/if}}

    <div id="title">LEFTOVERS &trade;</div>
    <p id="mission-statement">Solving World Hunger Daily</p>
</div>
<footer></footer>