<div>
    <div id="title">LEFTOVERS</div>
    <p id="mission-statement">Solving World Hunger Daily</p>
</div>
<main>
    <button href="/login" id="sign-up-button">SIGN UP</button>
    <button href="/login" id="sign-in-button">SIGN IN</button>
</main>
<footer></footer>