<h1>
  This is the Donators login/Sign up page.
</h1>

<h2>Login</h2>

<form class="login-dona-form">
  <label for="email-login-dona">email:</label>
  <input type="text" id="email-login-dona" />

  <label for="password-login-dona">password:</label>
  <input type="password" id="password-login-dona" />

  <button type="submit">login</button>
</form>

<h2>Sign up</h2>

<form class="signup-dona-form">
  <label for="firstname-signup-dona">first name:</label>
  <input type="text" id="firstname-signup-dona" />

  <label for="lastname-signup-dona">last name:</label>
  <input type="text" id="lastname-signup-dona" />

   <label for="business-signup-dona">business name:</label>
  <input type="text" id="business-signup-dona" />

   <label for="email-signup-dona">email:</label>
  <input type="text" id="email-signup-dona" />

  <label for="password-signup-dona">password:</label>
  <input type="password" id="password-signup-dona" />

  <label for="phone-signup-dona">phone number:</label>
  <input type="text" id="phone-signup-dona" />

  <button type="submit">sign up</button>
  
</form>


<script src="./js/login.js"></script>